@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";


$ltYellow: #fefbe9;
$ltYellowRGB: rgb(254, 251, 231);
$softYellow: #fcf7d5;
$softYellowRGB: rgb(252,247,213);
$yellowGreen: #f5f3c1;
$yellowGreenRGB: rgb(245,243,193);
$yellowMint: #eaf0b5;
$yellowMintRGB: rgb(234,240,181);
$summerGreen: #ddecbf;
$summerGreenRGB: rgb(221,236,191);
$ltGreen: #d0e7ca;
$ltGreenRGB: rgb(208,231,202);
$chillGreen: #c2e3d2;
$chillGreenRGB: rgb(194,227,210);
//remove the yellow in the application, it sucks
$ltBlueGreen: #b5ddd8;
$ltBlueGreenRGB: rgb(181,221,216);
$kitchenTileBlue: #a8d8dc;
$kitchenTileBlueRGB: rgb(168,216,220);
$softBlue: #9bd2e1;
$softBlueRGB: rgb(155,210,225);
$softMidBlue: #7bbce7;
$softMidBlueRGB: rgb(123,188,231);
$cornflower: #7eb2e4;
$cornflowerRGB: rgb(126,178,228);
$lavender: #88a5dd;
$lavenderRGB: rgb(136,165,221);
$softPurple: #9398d2;
$softPurpleRGB: rgb(147,152,210);
$warmPurple: #9b8ac4;
$warmPurpleRGB: rgb(155,138,196);
$couchPurple: #9d7db2;
$couchPurpleRGB: rgb(157,125,178);
$radishPurple: #9a709e;
$radishPurpleRGB: rgb(154,112,158);
$coffeeShopPurple: #906388;
$coffeeShopPurpleRGB: rgb(144,99,136);
$redPurpleBrown: #805770;
$redPurpleBrownRGB: rgb(128,87,112);
$purpleBrown: #684957;
$purpleBrownRGB: rgb(104,73,87);
$brown: #46353a;
$brownRGB: rgb(70,53,58);

$font-stack: 'Fira Sans', sans-serif;

*,
*:after,
*:before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: $softBlue solid 2px;
  background-color: $radishPurple;
}

body {
  background-color: rgb(128,87,112, .6);
  background-image: url("../images/pexels-ekaterina-astakhova-3123980.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.hiddenFunctionality {
  height: 100vh;
  width: 100vh;
}

header {
  background-color: rgb(128,87,112, .6);
}

.h1-title,
.travel-agency {
  align-items: center;
  color: $ltBlueGreen;
  display: flex;
  font-family: $font-stack;
  font-size: x-large;
  font-weight: 900;
  height: 10%;
  justify-content: center;
  width: 100%;
}

//-----login-form-----
.login-form {
  background: $ltYellow;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  --border-radius: 4px;
  --color-error: $coffeeShopPurple;
  --color-primary: $chillGreen;
  --color-primary-dark: $ltBlueGreen;
  --color-secondary: $cornflower;
  --color-success: $yellowMint;
  font: 500 1rem $font-stack;
  margin: 1em;
  max-width: 400px;
  padding: 2em;
  width: 400px;
}

.form--hidden {
  display: none;
}

.login-form > *:first-child {
  margin-top: 0;
}

.login-form > *:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color:#906388;
}

.form__message--error {
  color:#9bd2e1;
}
.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  background: $ltBlueGreen;
  border: 1px $kitchenTileBlue;
  border-radius: .1em;
  box-sizing: border-box;
  display: block;
  padding: 0.75rem;
  transition: background 0.2s, border-color 0.2s;
  width: 100%;
}

.form__input:focus{
  background: $yellowMint;
  border-color: $brown;
}

.form__input--error {
  border-color: $kitchenTileBlue;
  color: $kitchenTileBlue;
}

.form__input-error-message {
  color: $kitchenTileBlue;
  font-size: 0.85em;
  margin-top: 0.5em;
}

.form__button {
  background-color: $cornflower;
  border: none;
  border-radius: 0.1rem;
  color: $yellowMint;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  outline: none;
  padding: 1rem 2rem;
  width: 100%;
}

.form__button:hover {
  color: $couchPurple;
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  text-align: center;
}

.form__link {
  color: $ltBlueGreen;
  cursor: pointer;
  text-decoration: none;
}

.form__link:hover {
  text-decoration: underline;
}

//--^^---login-form---^^--

h2 {
  background-color: #684957;
  box-shadow: inset 0 0 20px $ltYellow;
  color: $ltBlueGreen;
  font-size: large;
  font-weight: bold;
  padding: 1em;
}

.date-divider {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
}

.italics {
  font-style: italic;
  font-weight: 100;
}

.todays-date{
  align-content: flex-end;
  align-items: center;
  display: flex;
  font-size: small;
  height: 100%;
}

main,
.main-section {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
}

.flex-display {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

//-----glide-nonsense-----
.glide-display {
  align-items: center;
  background-color:rgb(136,165,221, .3);
  box-shadow: inset (208,231,202, .6);
  color: $ltBlueGreen;
  display: flex;
  font-weight: 900;
  height: 50%;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  padding: 1em;
  width: 100%;
}

.glide_slides {
  overflow: visible;
  width: 100%;
}

li {
  align-items: center;
  background-color: $brown;
  display: flex;
  text-align: center;
}

.glide__track {
  height: 100%;
  width: 100%;
}

.one-slide {
  display: block;
  object-position: center;
  object-fit: cover;
  height: 8em;
  position: relative;
  width: 100%;
}

.glide__slide {
  align-items: baseline;
  box-shadow: inset 0 0 20px $radishPurple;
  display: flex;
  filter: blur(3px);
  flex-direction: column;
  height: 100%;
  opacity: .7;
  padding: .2em;
  transition: .1s linear;
  width: 100%;

}

.glide__slide--active {
  filter: none;
  opacity: 1;
}

.glide__arrows,
.glide__track {
  position: relative;
}

.glide__arrow {
  background-color: rgb(245,243,193, .8);
  border-color: $brown;
  color: $brown;
  font-weight: 900;
}

.glide__arrow:focus {
  background-color: $radishPurple;
}
//-----^--glide-nonsense--^-----

.side-piece {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.right-side-but-left-actually {
  background-color: rgb(155,138,196, .3);
  height: 100%;
  width: 10%;
}

.left-aside {
  height: 100%;
  width: 40%;
}

.small-top-left,
.small-bottom-left {
  height: 50%;
  width: 100%;
}

.small-top-left {
  align-items: center;
  background-color:  rgb(136,165,221, .5);
  color: $ltGreen;
  display: flex;
  font-weight: 700;
  padding: 1em;
}

.small-bottom-left{
  background-color: rgb(147,152,210, .4);
}

.tester-box {
  height: 100%;
  width: 100%;
}

.tester-glide-image {
  height: 50px;
  width: 50px;
}

.new-trips-section {
  background-color: rgb(155,138,196, .4);
  height:100%;
  overflow: auto;
  padding-top: 1em;
  width: 50%;
}

//-----trip-fillout-form-----
.aside-bar {
  align-items: center;
  background-color:rgb(104,73,87, .4);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  padding: 1em;
  width: 20%;
}

.form-container {
  background-color: rgb(126,178,228, .6);
  box-shadow: inset 0 0 20px $ltYellow;
  border-radius: .15em;
  color: $brown;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 80%;
  padding: .2em;
  width: 100%;
}

.form-section {  
  display: flex;
  flex-direction: column;
  font-family: $font-stack;
  height: 100%;
  width: 100%;
}

h3 {
  color: $brown;
  font-size: large;
  font-weight: bold;
  padding: 1em;
}

h3,
.trip-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
} 

//legend, num-travelers-label, number-of-days, destionations-container, date-picker, cost-estimate, trip-form-submit
.legend,
.num-travelers-label,
.number-of-days,
.destionations-container,
.date-picker,
.cost-estimate,
.trip-form-submit {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.num-days,
.num-travelers {
  border: $softYellow;
  border-radius: .4em;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 2em;
  margin: .5em;
  padding: 1em;
  width: 5em;
} 

select:required:invalid { 
  color: gray; 
}

.select-destination,
.travel-date,
.trip-form-submit {
  align-items: center;
  border: $softYellow;
  border-radius: .4em;
  box-sizing: border-box;
  color: $brown;
  display: flex;
  margin-top: .5em;
  padding: .3em;
  text-decoration: none;
  width: 80%;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: $brown;
}

//-----^-trip-form-destination-^-----

footer,
.logo-links {
  background-color: rgb(168,216,220, .4);
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
}

.money-tracker {
  align-items: center;
  background-color: rgb(147,152,210, .4);
  border-radius: .4em;
  color: $brown;
  display: flex;
  font-family: $font-stack;
  height: 10%;
  justify-content: center;
  padding: .2em;
  width: 100%;
}

.margin-right{
  background-color:  rgb(136,165,221, .4);
  height: 100%;
  width: 10%;
}

.hidden {
  display: none;
}