$ltYellow: #fefbe9;
$ltYellowRGB: rgb(254, 251, 231);
$softYellow: #fcf7d5;
$softYellowRGB: rgb(252,247,213);
$yellowGreen: #f5f3c1;
$yellowGreenRGB: rgb(245,243,193);
$yellowMint: #eaf0b5;
$yellowMintRGB: rgb(234,240,181);
$summerGreen: #ddecbf;
$summerGreenRGB: rgb(221,236,191);
$ltGreen: #d0e7ca;
$ltGreenRGB: rgb(208,231,202);
$chillGreen: #c2e3d2;
$chillGreenRGB: rgb(194,227,210);
$ltBlueGreen: #b5ddd8;
$ltBlueGreenRGB: rgb(181,221,216);
$kitchenTileBlue: #a8d8dc;
$kitchenTileBlueRGB: rgb(168,216,220);
$softBlue: #9bd2e1;
$softBlueRGB: rgb(155,210,225);
$softMidBlue: #7bbce7;
$softMidBlueRGB: rgb(123,188,231);
$cornflower: #7eb2e4;
$cornflowerRGB: rgb(126,178,228);
$lavender: #88a5dd;
$lavenderRGB: rgb(136,165,221);
$softPurple: #9398d2;
$softPurpleRGB: rgb(147,152,210);
$warmPurple: #9b8ac4;
$warmPurpleRGB: rgb(155,138,196);
$couchPurple: #9d7db2;
$couchPurpleRGB: rgb(157,125,178);
$radishPurple: #9a709e;
$radishPurpleRGB: rgb(154,112,158);
$coffeeShopPurple: #906388;
$coffeeShopPurpleRGB: rgb(144,99,136);
$redPurpleBrown: #805770;
$redPurpleBrownRGB: rgb(128,87,112);
$purpleBrown: #684957;
$purpleBrownRGB: rgb(104,73,87);
$brown: #46353a;
$brownRGB: rgb(70,53,58);

$font-stack: 'Fira Sans', sans-serif;

*,
*:after,
*:before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
    /* color: rgb(230, 159, 0);
    color: rgb(86, 180, 233);
    color: rgb(0, 114, 178);
    color: rgb(213, 94, 0);
    color: rgb(204, 121, 167); */
    /* background-color: rgb(229, 246, 255); */
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

header {
  height: 10%;
  width: 100%;
  background-color: rgb(213, 94, 0);
}

main {
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: row;
  background-color: rgb(229, 246, 255);
}

.flexDisplay {
  display: flex;
  flex-direction: column;
}

.glide-display {
  height: 50%;
  width: 100%;
  background-color: #ffe7d4;
}


.the-whole-accordion {
  height: 40%;
  width: 100%;
  background-color: #fff7f1;
  /* have a pretty canvas for when there's no populated buttons? */
}

/* --->>--------accordion nonsense--------------<<------------------------------- */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}
/* --> need to add the .active class with js */
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
/* ^hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* -^----------accordion nonsense--------------------------------------------^- */

.aside-bar {
  width: 20%;
  height: 90%;
  background-color: #ffc89c;
}

footer {
  width: 100%;
  height: 10%;
  background-color: #ffa863;
}