$ltYellow: #fefbe9;
$softYellow: #fcf7d5;
$yellowGreen: #f5f3c1;
$yellowMint: #eaf0b5;
$summerGreen: #ddecbf;
$ltGreen: #d0e7ca;
$chillGreen: #c2e3d2;
$ltBlueGreen: #b5ddd8;
$kitchenTileBlue: #a8d8dc;
$softBlue: #9bd2e1;
$softMidBlue: #7bbce7;
$cornflower: #7eb2e4;
$lavender: #88a5dd;
$softPurple: #9398d2;
$warmPurple: #9b8ac4;
$couchPurple: #9d7db2;
$radishPurple: #9a709e;
$coffeeShopPurple: #906388;
$redPurpleBrown: #805770;
$purpleBrown: #684957;
$brown: #46353a;

$font-stack: 'Fira Sans', sans-serif;

